<div class="page-header">
  <div class="top">
  <h1>Piyostagram</h1>
  </div>
</div>

<div class="container">
  <div id="new-post-link">
     <%= link_to '投稿する', new_post_path, class:"btn btn-primary" %>
  </div>
  <div class="row">
   <div class="col-sm-6 col-sm-offset-3">
    <% @posts.each do |post|%>
      <div class = "col-xs-6 col-md-12 post-panel panel panel-default">
        <div class="panel-heading"><%= post.user.name %></div>
        <div class="panel-body">
            <p><%= post.content %></p>
            <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            <br>
            <p><%= image_tag post.image,class:'img-responsive center-block'%></p>
          <div class="post-links">
              <%= link_to '詳細を表示する',post_path(post.id) ,class:"btn btn-success"%>
          <% if post.created_by?(current_user) %>
              <%= link_to '編集する',edit_post_path(post.id),class:"btn btn-info" %>
              <%= link_to '削除する',post_path(post.id),method: :delete ,class:"btn btn-danger",data:{confirm:'本当に削除していいですか？'} %>
          <% end %>
          </div>
      </div>
      </div>
    <% end %>
   <%= paginate @post %>
  </div>
  </div>
</div>
