<!DOCTYPE html>
<html>
  <head>
    <title>Piyostagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div id="gnavi" class="collapse navbar-collapse">
        <div class="navbar-header">
          <div class="container">
            <div class="top-link">
              <a class="navbar-brand"><%= link_to 'Piyostagram',posts_path, class:"navbar-header"%></a>
            <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to '投稿する',new_post_path %></li>
                <% if logged_in? %>
                  <li><%=link_to 'いいね一覧',user_path(current_user.id)%></li>
                  <li><%=link_to 'Logout',session_path(current_user.id), method: :delete%></li>
                  <li><%= link_to 'ユーザー一覧', users_path %></li>
                <% else %>
                  <li><%=link_to 'Signup',new_user_path %></li>
                  <li><%=link_to 'Login',new_session_path %></li>
                <% end %>
            </ul>
           </div>
          </div>
        </div>
      </div>
    </header>
  <div class="container">    
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      <% end %>
      <%flash.each do |key,value| %>
        <%= content_tag(:div,value,class:"#{key}") %>
      <% end %>
      </div>
  </div>
      <%= yield %>
    </div>
  </body>
</html>
